@font-face {
    font-family: GoogleSans;
    src: url(/assets/GoogleSans-Regular.ttf);
}

*{
    font-family: GoogleSans;
}

#main{
    background-image: linear-gradient(275deg,#2B4570, #7180AC, #A8D0DB, #E49273);
    backdrop-filter: blur(100em);
}

#open{
    max-width: 500px;
    width: auto;
    height: auto;
    border: solid 0.1px rgba(255, 255, 255, 0.166);
    border-radius: 20%;
    background-color: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(5px);
    padding: 0.7em;
    box-shadow: 0 0 100px black ;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}

#socialBar{
    list-style-type: none;
    padding-left: 35px;
}

.social{
    font-size: 1.7em;
    transition-duration: 200ms;
}

.social:hover{
    font-size: 2em;
}

#profile{
    max-width: 200px;
    width: auto;
    backdrop-filter: blur(20px);
    background-color: white;
    border-radius: 100%;
    
}

#aboutText{
    line-height: 40px;
    font-weight: 700;
    font-size: 15px;
}

#profilediv{
    margin-top: -70px;
    margin-left: -70px;
}

@media screen and (max-width : 576px) {
    #profilediv{
        margin: 0;
    }

    #profile{
        margin-top: -100px;
    }

    #main{
        padding: 30px;
        padding-top: 200px;
    }
    
}